/* global style */

body {
    background-color: #eee;
}

.navbar {
    border-radius: 0;
    background-color: #333;
    height: 52px;
}

.navbar .navbar-brand {
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar .navbar-brand:hover {
    color: #d9534f;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #d9534f;
    color: #fff;
    border-bottom: solid 3px #fff
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #d9534f;
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #d9534f;
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #fff;
    color: #d9534f;
    border-bottom: solid 3px #d9534f
}

.dropdown-menu>li>a {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.dropdown-menu>li>a:hover {
    background-color: #d9534f;
    color: #fff;
    padding-left: 30px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #d9534f
}


/* end global */


/* start footer */

.footer {
    background: #333;
    color: #eee;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* end footer */


/* start main posts */

.home-page .main-post {
    background-color: #fff;
    border: 1px solid #e8dcdc;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 676.44px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.home-page .main-post h3 {
    margin: 0 0 10px;
    font-weight: bold;
    color: #777;
    letter-spacing: -1px;
}

.home-page .main-post .post-auther,
.home-page .main-post .post-date,
.home-page .main-post .post-comment,
.home-page .main-post .post-time {
    font-size: 12px;
    color: #888;
}

.home-page .main-post img {
    display: block;
    margin: 10px 0 10px;
    width: 513px;
    height: 341.44px;
}

.home-page .main-post .no-thumbnail {
    width: 513px;
    height: 341.44px;
    background-color: #ccc;
    color: #888;
    line-height: 10;
    font-size: 35px;
    font-weight: bold;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 10px auto;
}

.home-page .main-post .post-content {
    color: #888;
    min-height: 116px;
}

.home-page .main-post i {
    color: #999;
}


/*
.home-page .post-pagination {
    margin: 20px auto 30px;
    width: 400px;
}

.home-page .post-pagination a,
.home-page .post-pagination span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.home-page .post-pagination span {
    opacity: .5;
    cursor: not-allowed;
}

.home-page .post-pagination a:first-of-type,
.home-page .post-pagination span:first-of-type {
    margin-right: 20px;
}
*/

.home-page .numbering-pagination {
    margin: 15px 0;
    padding: 15px;
}

.home-page .numbering-pagination .page-numbers {
    background-color: #fff;
    color: #222;
    margin: 0 5px;
    padding: 5px 10px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.home-page .numbering-pagination .page-numbers:hover {
    background-color: #d9534f;
    color: #fff;
}

.home-page .numbering-pagination .page-numbers.current {
    background-color: #d9534f;
    color: #fff;
}


/* end main posts */


/* start single post */

.post-page .main-post .post-edit {
    position: absolute;
    border: 2px solid #f7f6f6;
    right: 15px;
    padding: 4px 4px;
    color: #337ab7;
    outline: none;
    cursor: auto;
}

.post-page .main-post .post-edit:focus,
.post-page .main-post .post-edit:hover {
    background-color: #337ab7;
}

.post-page .main-post .post-edit .post-edit-link {
    color: #fff;
}

.post-page .main-post .post-edit .post-edit-link i {
    color: #fff;
    margin-left: 5px;
}

.post-page .main-post {
    position: relative;
    background-color: #fff;
    border: 1px solid #e8dcdc;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-page .main-post h3 {
    margin: 0 0 10px;
    font-weight: bold;
    color: #777;
    letter-spacing: -1px;
}

.post-page .main-post .post-time,
.post-page .main-post .post-date,
.post-page .main-post .post-comment {
    font-size: 15px;
    color: #999;
}

.post-page .main-post img {
    display: block;
    margin: 10px 0 10px;
}

.post-page .main-post .post-content {
    color: #888;
}

.post-page .main-post i {
    color: #999;
}

.random-posts {
    background-color: #fff;
    padding: 0 30px 10px;
    margin-bottom: 30px;
    border: solid 1px #ddd;
    border-radius: 10px;
}

.random-posts h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: solid;
    display: inline-block;
    color: #999;
}

.random-posts .only-post-in-cat {
    font-size: 30px;
    font-weight: bold;
    color: #999;
    padding-top: 31px;
    min-height: 100px;
}

.random-posts .only-post-in-cat span {
    color: #d9534f;
    display: block;
    font-weight: bold;
}


/* start author info */

.post-author {
    background-color: #fff;
    margin: 0;
    padding-right: 15px;
    border: solid 1px #ddd;
    border-radius: 10px;
}

.post-author img {
    margin-top: 10px;
}

.post-author button {
    margin-top: 10px;
    min-width: 100px;
    min-width: 110px;
    margin-bottom: 10px;
}

.post-author button a {
    color: #fff;
}

.post-author .author-info h4 {
    font-weight: bold;
    color: #6f6c6c;
    font-size: 20px;
    margin: 18px 0 15px;
    display: inline-block;
}

.post-author .author-info h4 span {
    color: #d9534f;
}

.post-author .author-info .auther-stats {
    color: #0c0b0b;
    margin: 18px 0 15px;
    display: inline-block;
}

.post-author .author-info .auther-stats .posts-count {
    color: #fff;
}

.post-author .author-info p {
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

.post-author .author-info .no-bio {
    display: block;
    margin-top: 15px;
}


/* end author info */

.post-page .post-pagination {
    margin: 20px auto 30px;
    width: 400px;
}

.post-page .post-pagination a,
.post-page .post-pagination span {
    display: inline-block;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.post-page .post-pagination span {
    opacity: .5;
    cursor: not-allowed;
}

.post-page .post-pagination a:first-of-type,
.post-page .post-pagination span:first-of-type {
    margin-right: 20px;
}


/* end single post */


/* start comments list */

.comments-seperator {
    border-bottom: 2px solid #ddd;
    margin-top: 30px;
    border-radius: 10px;
}

.comments-count,
.comments-off {
    padding: 20px;
    margin-top: 0px;
    background-color: #ddd;
    font-size: 24px;
    font-weight: bold;
    color: #827e7e;
    border-radius: 10px;
}

.comments-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comments-list .comment img {
    background-color: #fff;
    padding: 2px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-right: 5px;
}

.comments-list .comment .says {
    display: none;
}

.comments-list .comment .comment-meta a:first-of-type {
    font-size: 12px;
    color: #8a7d7d;
}

.comments-list .comment p {
    margin: 10px;
    color: #423e3e;
}

.comments-list>.comment .reply {
    right: 37px;
    top: 144px;
    position: absolute;
    margin-top: -136px;
    content: "\f112";
}


/* unicode */

.comments-list>.comment .reply:before {
    font-family: FontAwesome;
    content: "\f112";
    margin-right: 5px;
    color: #337ab7;
}


/*L1 selector */

.comments-list>.comment {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 10px;
    margin-top: 15px;
    position: relative;
    border-radius: 10px;
}


/*L2 selector */

.comments-list>.comment>.children>.comment {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.comments-list>.comment>.children>.comment .reply {
    right: 37px;
    top: 283px;
    position: absolute;
    margin-top: -136px;
    content: "\f112";
}


/*L3 selector */

.comments-list>.comment>.children>.comment>.children>.comment {
    background-color: #ddd;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #bbb;
    border-radius: 10px;
}

.comment-respond {
    padding: 10px;
}

.comment-respond .comment-reply-title {
    padding: 15px;
    background-color: #ddd;
    margin-top: 5px;
    font-weight: bold;
    color: #827e7e;
    font-size: 25px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.comment-respond form {
    background-color: #ddd;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.comment-respond label {
    display: block;
    margin-left: 5px;
}

.comment-respond input[type="text"],
.comment-respond textarea {
    width: 500px;
    height: 40px;
    padding: 7px;
    border: 1px solid #afaeae;
    color: #928d8d;
    max-width: 100%;
    border-radius: 5px;
}

.comment-respond textarea {
    height: 200px;
    resize: none;
}


/* end comments list */


/* start auther page */

.author-page {
    background-color: #fff;
    padding-top: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
}

.author-page .author-name {
    margin: 5px 0 28px;
    color: #777;
    font-weight: bold;
}

.author-page .author-stats {
    font-size: 17px;
    color: #888;
    font-weight: bold;
    padding: 0
}

.author-page .author-stats span {
    font-size: 17px;
}

.stats .col-sm-3 {
    padding-right: 0;
}

.author-page .author-bio {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.author-hr {
    padding: 20px;
    margin-top: 0px;
    background-color: #ddd;
    font-size: 24px;
    font-weight: bold;
    color: #827e7e;
    border-radius: 10px;
}

.author-posts {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.author-posts .post-img {
    width: 208px;
}

.author-posts .post-date {
    color: #888;
}

.author-posts .post-time {
    color: #888;
}

.author-posts .post-content {
    color: #777;
    margin-top: 15px;
}

.author-comments {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 1px 0 10px 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.author-comments .comment-date,
.author-comments .comment-time {
    color: #888;
}

.author-comments .comment-content {
    color: #777;
    margin-top: 15px;
}


/* end auther page */


/* start 404 page */

.page-not-found img {
    margin-top: 50px;
}

.page-not-found h1 {
    font-weight: bold;
    font-size: 70px;
    margin-left: 40px;
    color: #666;
}

.page-not-found p {
    font-weight: bold;
    margin-left: 40px;
    color: #666;
    margin-bottom: 72px;
}


/* end 404 page */
